version: '3.8'

services:
  engine:
    build: .
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - timescaledb
      - ollama

  timescaledb:
    image: timescale/timescaledb:latest-pg15
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: quant_db

  ollama:
    image: ollama/ollama:latest
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama



#   chronos:
#     image: amazon/chronos-bolt:small

volumes:
  ollama_data:
