version: '3.8'

services:
  engine:
    build: .
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - timescaledb
      - ollama

  timescaledb:
    image: timescale/timescaledb:latest-pg15
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: password

  ollama:
    image: ollama/ollama:latest
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama

  bff:
    image: node:20-alpine
    ports:
      - "3000:3000"
    environment:
      - UPSTREAM_API_URL=http://engine:8000
    volumes:
      - ./app/bff:/app
    working_dir: /app
    command: sh -c "npm install && npm run dev"

#   chronos:
#     image: amazon/chronos-bolt:small

volumes:
  ollama_data:
